<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>行业管理</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
    <link th:href="@{/static/css/metisMenu.min.css}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link th:href="@{/static/css/sb-admin-2.css}" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/boot-crm.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:include="index::commonNav"></div>
<div id="page-wrapper" style="background-color: #dddddd">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">行业管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" method="get"
                  action="/industry/findAllIndustry">
                <div class="form-group">
                    <label for="username">行业名称</label>
                    <input type="text" class="form-control" id="username" value="" name="username" />
                </div>

                <button type="submit" class="btn btn-primary">查询</button>
            </form>
        </div>
    </div>
    <a href="#" class="btn btn-primary" data-toggle="modal"
       data-target="#newCustomerDialog" onclick="clearCustomer()">新建</a>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">行业信息列表</div>
                <!-- /.panel-heading -->
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>行业名称</th>
                        <th>行业序号</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="industry:${industries}">
                        <td th:text="${industry.industry_id}"></td>
                        <td th:text="${industry.industry_name}"></td>
                        <td th:text="${industry.industry_code}"></td>

                        <td>
                            <button type="button" href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#customerEditDialog"
                                    th:onclick= "editCustomer([[${industry.industry_id}]])">修改</button>
                            <a href="#" class="btn btn-danger btn-xs" th:onclick="deleteCustomer([[${industry.industry_id}]])">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- 客户列表查询部分  end-->
<!-- 创建客户模态框 -->
<div class="modal fade" id="newCustomerDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="">新建行业信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="new_customer_form">
                    <div class="form-group">
                        <label for="new_customerName" class="col-sm-2 control-label">
                            行业名称
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="new_customerName" placeholder="行业名称" name="industry_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_customerFrom" style="float:left;padding:7px 15px 0 27px;">行业序号</label>
                        <div class="col-sm-10">
                            <input	type="text" class="form-control" id="new_customerFrom" name="industry_code">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="createCustomer()">创建用户</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改客户模态框 -->
<div class="modal fade" id="customerEditDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改行业信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit_customer_form">
                    <input type="hidden" id="edit_role_id" name="role_id"/>
                    <div class="form-group">
                        <label for="edit_username" class="col-sm-2 control-label">行业名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_username" placeholder="行业名称" name="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit_roleFrom" style="float:left;padding:7px 15px 0 27px;">行业序号</label>
                        <div class="col-sm-10">
                            <input	class="form-control" id="edit_roleFrom" name="loginName">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateCustomer()">保存修改</button>
            </div>
        </div>
    </div>
</div>
<!-- 引入js文件 -->
<!-- jQuery -->
<script th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/static/js/metisMenu.min.js}"></script>
<!-- DataTables JavaScript -->
<script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/js/dataTables.bootstrap.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/static/js/sb-admin-2.js}"></script>
<!-- 编写js代码 -->
<script type="text/javascript">
    //清空新建客户窗口中的数据
    function clearCustomer() {
        $("#new_customerName").val("");
        $("#new_customerFrom").val("")
        $("#new_custIndustry").val("")
        $("#new_custLevel").val("")
        $("#new_linkMan").val("");
        $("#new_phone").val("");
        $("#new_mobile").val("");
        $("#new_zipcode").val("");
        $("#new_address").val("");
    }
    // 创建客户
    function createCustomer() {
        $.post("/industry/insertIndustry",
            $("#new_customer_form").serialize(),function(data){
                if(data =="OK"){
                    alert("行业创建成功！");
                    window.location.reload();
                }else{
                    alert("行业创建失败！");
                    window.location.reload();
                }
            });
    }
    // 通过id获取修改的客户信息
    function editCustomer(id) {
        $.ajax({
            type:"get",
            url:"/industry/editIndustry",
            data:{"industry_id":id},
            success:function(data) {
                $("#edit_id").val(data.industry_id);
                $("#edit_username").val(data.industry_name);
                $("#edit_roleFrom").val(data.industry_code);

            }
        });
    }
    // 执行修改客户操作
    function updateCustomer() {
        $.post("/industry/updateIndustry",$("#edit_customer_form").serialize(),function(data){
            if(data =="OK"){
                alert("行业信息更新成功！");
                window.location.reload();
            }else{
                alert("行业信息更新失败！");
                window.location.reload();
            }
        });
    }
    // 删除客户
    function deleteCustomer(id) {
        if(confirm('确实要删除该行业吗?')) {
            $.post("/industry/deleteIndustry",{"id":id},
                function(data){
                    if(data =="OK"){
                        alert("行业删除成功！");
                        window.location.reload();
                    }else{
                        alert("删除行业失败！");
                        window.location.reload();
                    }
                });
        }
    }
</script>
</body>
</html>